@media only screen and (max-width: 1260px){

	li{
		text-align: center;
	}
	.exterior_box{
		border: none;
	}
	.card_flight_details{
		padding: 0 10px;
	}	
	.card_baggage_details{
		padding: 0 20px;
	}
	.left_box{
		width: 50%;		
	}
	.card_information{
		clear: both;
		float: left;
		margin-left: 10px;
	} 	
	.card_symbols{
		clear: left;
		margin-left: 40px;
	}

	.middle_box{
		width: 50%;
	}
	#map{
		clear: both;
		margin-top: 20px;
		width: 100%;
		border-radius: 4px;
	}
}

@media only screen and (max-width: 1000px){
	.left_box{
		width: 100%;
	}
	.middle_box{
		width: 100%;
		margin-top: 10px;
	}
	.connected , .all_users{
		padding: 0 20px;
	}
	.connected_and_all_users{
	}
}

@media only screen and (max-width: 410px){
	.card_flight_details{
		display: block;
		margin: 8px 0;
		margin-left: 32px;
		padding: 0 6px;
	}	
	.card_baggage_details{
		padding: 0 6px;
		margin-left: 32px;
	}
}