html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
*,*:after,*:before {box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;-o-box-sizing: border-box;}
body{
	background-color: #fff4f4;
}
.row{
	margin-left: 0px;
	margin-right: 0px;
}
.navigation{
    background-color: deeppink;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.main_row ul li{
    display: inline-block;
    padding: 0px 25px ;
    margin: 0 15px;
    
}

.main_row{
    text-align: center;	
    font-family: century gothic , Sans-serif;	
    margin-top: 65px;
}

.main_row ul li a{
	position: relative;
    text-decoration: none;
    color:  darkgrey;
}
.main_row ul li a:hover{
	color: #000;
}
.main_row ul li a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -15px;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.main_row ul li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



.exterior_box{
    width: 90%;
    margin: 0 auto;
    box-shadow: 0px 0px 0.001px;
}
.interior_upper_box{
    width: auto;
    border: 0.1px solid #d1d1d1;
    height: 60px;
    background-color: #e2e2e2;      
}
.flight_logo{
    float: left;
}
.flight_logo img{
    width: 60px;
    height: 60px;
}
.interior_lower_box{
    width: auto;
    border: 0.1px solid #d1d1d1;
}
.date_and_collapse{
    padding-top: 10px;
}
.date{
    float: left;
    padding-left: 30px;
    font-family: century gothic , Sans-serif;
    font-weight: 600;
    font-size: 12px;
}
.dropdown_and_collapse{
    float: right;
}
.dropdown_and_collapse button{
    text-decoration: none;
    outline: none;
    border: none;
    background-color: transparent;
}
.collapse_link{
    text-decoration: none;
    color: deepskyblue;
    font-family: century gothic , Sans-serif;
    font-weight: 600;
    font-size: 12px;
}
.collapse_link:hover{
    text-decoration: none;
    color: deepskyblue;
}
.dots{
    float: right;
}
.open>.dropdown-toggle.btn-primary , .open>.dropdown-toggle.btn-primary:hover{  
    background-color: transparent;
}
.date_and_collapse .dots img{
    width: 40px;
    height: 20px;
    background-color: transparent;
    border: none;
    padding-top: 2px;
    padding-bottom: 5px;
}
.date_and_collapse .dots img:hover{
    background-color: transparent;
}
.from_to_profile_and_submain_and_baggage_weight{
	clear: right;
	padding-bottom: 10px;
	text-align: center;				
}
.from_to_profile{
	display: inline-block;	
	margin-left: 30px; 
	float: left;
}
.from , .to , .flight_direction{
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
}
.flight_direction img{
	width: 100px;
}
.connected_and_all_users{
	display: inline-block;
}
.connected_and_all_users a{
	text-decoration: none;
	color: darkgrey;
	position: relative;
}
.connected_and_all_users a:hover{
	text-decoration: none;
	color: #000;
}
.connected_and_all_users a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -15px;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.connected_and_all_users a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.connected , .all_users{
	display: inline-block;
	font-size: 12px;
	font-family: century gothic , Sans-serif;
	font-weight: 600;
	padding: 0 50px;
}
.baggage_weight img{
	width: 15px;
	vertical-align: middle;
}
.baggage_weight{
	float: right;
	padding-right: 40px;
	font-family: century gothic , Sans-serif;
	font-size: 14px;
	color: #595959;
}
.weight{
	color: black;
}
.left_box , #map , .middle_box{
	text-align: center;
}
.left_box{
	clear: both;
	height: 475px;
	overflow: scroll;
	overflow-x: hidden;
}

/*==========================================CARDS=================================*/

.card_card{
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 80px;
	border: 2px solid white;
	box-shadow: 1px -1px 5px grey;
	background-color: white;
	padding: 10px;
	cursor: pointer;
}

.card_card:hover{
	box-shadow: 1px 0px 10px grey;
}
.card_card:hover{
	border: 3px solid #1fd2f2;
}
.square{
	display: block;
	float: right;
	margin: 40px 0;
	border: 1px solid black;
	width: 20px;
	height: 20px;
	transform: rotate(45deg);
}
.card_image img{
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 500px;
}

.card_name_and_notifications{
	display: inline-block;
}

.card_name{
	position: absolute;
	top: 15px;
	left: 60px;
	font-family: century gothic , Sans-serif;
	font-weight: 600;
}

.card_notifications {
	width: 4px;
	float: right;
}

.card_notifications img{
	height: 12px;
	vertical-align: middle;
}

.card_information{
	display: inline-block;
	clear: left;
	float: left;	
	transform: translateY(-20px);		
	padding: 10px 0;
}

.card_flight_details{
	clear: right;
	display: inline-block;
	padding: 0 15px;
	margin-left: 25px;
}
.card_flight_logo{
	width: 12px;
	display: inline-block; 
}

.card_date{
	display: inline-block;
	font-size: 12px;
	font-weight: 200;
	font-family: century gothic , Sans-serif;
}

.card_baggage_details{
	display: inline-block;
	float: right;
	padding: 0 15px;
	font-family: century gothic , Sans-serif;
}

.card_suitcase{
	width: 12px;
	display: inline-block;
}

.card_weight{
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
}

.card_symbols , .card_location , .card_facebook , .card_education , .card_workplace , .card_rating{
	display: inline-block;
	padding: 0 8px;
}
.card_symbols{
	float: left;
}

.card_symbols img{
	width: 15px;
}

.card_symbols .card_facebook img{
	width: 8px;
}

.card_symbols .card_location img{
	width: 8px;
}

.card_invite img{
	width: 15px;
}
/*============  CHANGE SVG COLOR HERE  ================*/
.card_invite{
	color: #1fd2f2;
	float: right;
}
.card1 , .card2 , .card3 , .card4 , .card5{
	padding: 10px;
}
.card_notifications .dots img{
    width: 40px;
    height: 20px;
    background-color: transparent;
    border: none;
    padding-top: 2px;
    padding-bottom: 5px;
}
.card_notifications .dots img:active{
    background-color: transparent;
}

/*=======================================================================*/
/*============================== MIDDLE BOX =================================================*/

.middle_box{
    padding-left: 0;
    padding-right: 0;
}
.middle_box_box{
	width: 100%;
	background-color: white;
}

.middle_box_image{
	width: 70px;
	margin: 0 auto;
	
}

.middle_box_image img{
	width: 70px;
	height: 70px;
	border-radius: 500px;
	padding: 0px  0;
}

.middle_box_name{
	
	margin: 0 auto;
	color:#b2b2b2;
	font-weight: 600;
	padding: 10px 0;
	font-family: century gothic , Sans-serif;
}

.middle_box_customer{
	border: none;
	border-bottom: 1px solid #c1c1c1;
	padding: 10px;
	background-color: #f2f2f2;
}

.middle_box_customer_details img{
	width: 20px;
	vertical-align: middle;
}

.middle_box_flight_logo , .middle_box_flight_no , .middle_box_suitcase_logo , .middle_box_workplace ,
.middle_box_education_logo , .middle_box_education , .middle_box_home_logo , .middle_box_residence{
	display: inline-block;
	padding: 8px;
}

.middle_box_customer_details{
	border-bottom: 1px solid #c1c1c1;
	padding: 30px 0;
	background-color: #f2f2f2;
}

.middle_box_flight_info , .middle_box_workplace_info , .middle_box_education_info , .middle_box_residence_info{
	text-align: left;
	padding-left: 10px;
	color: #5b5b5b;
}	

.middle_box_customer_reviews img{
	width: 15px;
}
.middle_box_customer_reviews{
	text-align: left;
}

.middle_box_review{
	display: inline-block;
	padding: 0 10px;
	padding-left: 25px;
	font-family: century gothic , Sans-serif;
	color: black;
}
.middle_box_rating{	
}
.middle_box_rating , .middle_box_star1 , .middle_box_star2 , .middle_box_star3 , .middle_box_star4 , .middle_box_star5 {
	display: inline-block;
}

.middle_box_arrow{
	float: right;
	margin-right: 30px;
	font-size: 18px;
	font-weight: 900;
	color: #919191;
}

.middle_box_customer_reviews{
	padding: 10px 0;
	border-bottom: 1px solid #c1c1c1;
}

.middle_box_invite_button input{
	margin-top: 80px;
	padding: 15px 0;
	width: 100%;
	background-color: #1fd2f2;
	font-weight: 900;
	cursor: pointer;
	border: none;
	color: white;
}

.middle_box_invite_button input[type = submit]{
	background: url('invite.svg') no-repeat;
	background-position: 35%;	
	height: 100%;
	width: 100%;
	background-color: black;
	background-size: 20px 100px;
	
}

/*================================ MIDDLE BOX ENDS ===============================================*/
#map{	
	width: 33.333333%;
	height: 495px;		
}