#navbar{
    background-color: deeppink;
    height: 45px;
    position: fixed;
    width: 100%;
    z-index: 100;
} 
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

#navbar img{
    height: 25px;
    width: 25px;
    position: relative;    
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

*{
    padding: 0px;
    margin: 0px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.disabledLink{
    color: darkgray;
    cursor: pointer;   
    text-decoration: none;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.disabledLink:hover{
    color: darkslategray;
    cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

a{
    color: black;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

a:hover{
    cursor: default;
    color: black;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

#tabs a{
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

#tabs{
    text-align: center;
    position: relative;
    top: 60px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.line{
    height: 1px;
    width: 100%;
    background-color: lightgray;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.underline{
    width: 50%;
    height: 2px;
    background-color: black;
    position: relative;
    left: 25%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.card img{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    padding: 2%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.card{
    text-align: center;
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
    transition: box-shadow 0.1s ease-in-out;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.card:hover{
    box-shadow: 0px 0px 20px #888888;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.description{
    background-color: lightgray;
    padding: 10%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.owlcarousel img{
    width: 150px;
    height: 200px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.owlcarousel{
    width: 1000px;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 50px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.container{
    width: 100%;
    background-color: rgb(241,241,241);
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.thumbnails{
    display: block;
    margin: auto;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.shadowed{
    width: 80%; 
    background-color: white;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.shadowed:hover{
    cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.suggestions h2{
    color: dimgray;
    font-weight: bold;    
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.suggestions{
    margin-left: 11%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.description h3{
    font-weight: bolder;
    font-size: 17;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.description p{
    font-size: 13;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.dropdown-toggle{
    display:inline-block;
    vertical-align:middle;
    float: none;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.carouselCard{
    box-shadow: 0px 0px 10px #888888
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.carouselCard .text{
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.carouselCard h4{
    font-weight: bold;
    font-size: 15;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.carouselCard p{
    font-size: 12;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.cardCol{
    margin-top: 4%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.navcol{
    margin-top: 8px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------*/
